@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&display=swap'); */


/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
  */

body {
  
  font-family: var(--font-outfit);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.width{
width: 77%;
}

@media (max-width:1220px) {
  .width{
    width: 74%;
    }
}

@media (max-width:1075px) {
  .width{
    width: 70%;
    }
}

@media (max-width:932px) {
  .width{
    width: 65%;
    }
}

@media (max-width:805px) {
  .width{
    width: 60%;
    }
}

@media (max-width:620px) {
  .width{
    width: 90%;
    }
}

::-webkit-scrollbar{
  display: none;
}

.mobile{
  display: none;
}

.main-container{
  display: grid;
  max-height: 90vh;
  grid-template-columns: 250px 1fr;
}

@media (max-width: 765px) {
  .desktop{
    display: none;
  }
  .mobile{
    display: none;
  }

  .main-container{
    display: block;
  }
}


.chat-msg{
  height: calc(100% - 70px);
  padding-bottom: 50px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}